.more-link--animate{
	float: right;
	text-transform: uppercase;
}
.seta-animate{
	display: block;
	float: right;
	padding-left: 5px;

}
.more-link--animate:hover .seta-animate, {
	transform: translate(10px, 0);
	transition: .5s ease-in-out;
}
