// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

// $brand-primary: blueviolet;

//FONTS
$font-serif: serif; //fonte do menu
$font-corpo-texto: 'Lato', sans-serif; //fonte do corpo dos textos
$font-titulo: 'Playfair Display',  sans-serif;
$font-corpo: 'Lato', sans-serif;
$font-display: 'Better Together', sans-serif;

//COLORS
$color-link-rgba: rgba(255, 20, 147, 1);
$color-link: #FE7B77;
$color-link-hover: #E15453;
$color-link-true-hover: #c14241;
$color-bg-footer: #E69A9A;
$color-bg-eua: #e07f9e;
$color-bg-neutro-light: #ededed;
$bg-principal: #FCDEDE;

//SIZES
$gutter: 30px;
$border-radius: 5px;